/*-- CSS --*/

/*-- Body --*/
body {
	font-family: Verdana, Geneva, sans-serif;
	color: #fff;
	background-color: #000;
}

/*-- Navigation --*/
a:link {
	text-decoration: none;
	color: #FFF;
}
a:visited {
	text-decoration: none;
	color: #FFF;
}
a:hover {
	text-decoration: underline;
	color: #6CF;
}
a:active {
	text-decoration: none;
	color: #FFF;
}