/*--- Begin CSS ---*/

/*-- Body --*/
body {
	font-family: Verdana, Geneva, sans-serif;
	color: #fff;
	line-height: 120%;
	padding: 15px;
	background-color: #000;
	background-image: url("../images/bg_planet.jpg");
	background-attachment: fixed;
	background-position: center center;
	background-repeat: no-repeat;
}
h1 {
	font-size: x-large;
}
h2 {
	font-size: medium;
}
p {
	font-size: medium;
}
li {
	font-size: medium;
}

/*-- Logo --*/
#logo {
	text-align: center;
}

/*-- Navigation --*/
a:link {
	text-decoration: underline;
	color: #FFF;
}
a:visited {
	text-decoration: underline;
	color: #FFF;
}
a:hover {
	text-decoration: underline;
	color: #6CF;
}
a:active {
	text-decoration: none;
	color: #FFF;
}

/*-- Header --*/

/*-- Footer --*/
#footer {
	text-align: center;
}

/*--- Page Specific  ---*/

/*-- Home --*/

/*-- Blog --*/

/*-- Story --*/
#portrait {
	text-align: center;
}
#title-story {
	text-align: center;
}
#title-corporation {
	text-align: center;
}
#title-gallery {
	text-align: center;
}

/*-- Resources --*/

/*-- Contact --*/

/*--- End CSS ---*/